<template>
  <div>
    <v-btn
      outlined
      color="indigo"
      style="margin-top: 7px;"
      @click="dialog = true"
    >
      Add Platform
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Add Data Platform</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.name"
                    :rules="nameRules"
                    label="Name*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.label"
                    :rules="labelRules"
                    label="Label Code*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="form.description"
                    :rules="descRules"
                    label="Description*"
                    required
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Name is required',
      ],
      labelRules: [
        v => !!v || 'Name is required',
      ],
      descRules: [
        v => !!v || 'Name is required',
      ],
      form: {
        name: '',
        label: '',
        description: '',
      },
    }),
    methods: {
      onSave () {
        this.$store.dispatch('platform/ACTION_ADD', this.form)
        this.dialog = false
      },
    },
  }
</script>
