<template>
  <span>
    <v-btn
      color="success"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-pencil
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Edit Data Platform</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.name"
                    :rules="nameRules"
                    label="Name*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.label"
                    :rules="labelRules"
                    label="Label Code*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="form.description"
                    :rules="descRules"
                    label="Description*"
                    required
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object
      },
    },
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Field is required',
      ],
      labelRules: [
        v => !!v || 'Filed is required',
      ],
      descRules: [
        v => !!v || 'Field is required',
      ],
      form: {
        name: '',
        label: '',
        description: '',
      },
    }),
    mounted () {
      this.form = {
        id: this.mydata.id,
        name: this.mydata.name,
        label: this.mydata.label,
        description: this.mydata.description,
      }
    },
    methods: {
      onSave () {
        this.$store.dispatch('platform/ACTION_UPDATE', this.form)
        this.dialog = false
      },
    },
  }
</script>
