<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)'"
    :expand-on-hover="expandOnHover"
    :right="$vuetify.rtl"
    :src="barImage"
    mobile-break-point="960"
    app
    width="260"
    v-bind="$attrs"
  >
    <template v-slot:img="props">
      <v-img
        :gradient="`to bottom, ${barColor}`"
        v-bind="props"
      />
    </template>

    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="text-uppercase font-weight-regular display-2">
          <span class="logo-mini">{{ $t('ct') }}</span>
          <span class="logo-normal">{{ $t('tim') }}</span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider class="mb-1" />

    <v-list
      dense
      nav
    >
      <base-item-group :item="profile" />
    </v-list>

    <v-divider class="mb-2" />

    <v-list
      expand
      nav
    >
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <base-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        >
          <!--  -->
        </base-item-group>

        <base-item
          v-else
          :key="`item-${i}`"
          :item="item"
        />
      </template>

      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {
    mapState,
  } from 'vuex'

  export default {
    name: 'DashboardCoreDrawer',

    props: {
      expandOnHover: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      items: [],
      itemsAdmin: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: 'Dashboard',
        },
        {
          icon: 'mdi-account-box',
          title: 'user',
          to: 'User',
        },
        {
          icon: 'mdi-cellphone-text',
          title: 'platform',
          to: 'Platform',
        },
        {
          icon: 'mdi-library-books',
          title: 'material',
          to: 'course-material',
        },
        {
          icon: 'mdi-arrange-bring-forward',
          title: 'chapter',
          to: 'chapter',
        },
        {
          icon: 'mdi-notebook-multiple',
          title: 'topic',
          to: 'topic',
        },
        {
          icon: 'mdi-frequently-asked-questions',
          title: 'question',
          to: 'question',
        },
        {
          icon: 'mdi-book',
          title: 'library',
          to: 'library',
        },
        {
          icon: 'mdi-newspaper-variant',
          title: 'news',
          to: 'binar-news',
        },
      ],
      itemsMentor: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: 'Dashboard',
        },
        {
          icon: 'mdi-arrange-bring-forward',
          title: 'chapter',
          to: 'chapter',
        },
        {
          icon: 'mdi-notebook-multiple',
          title: 'topic',
          to: 'topic',
        },
        {
          icon: 'mdi-frequently-asked-questions',
          title: 'question',
          to: 'question',
        },
      ],
      itemsAcademy: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: 'Dashboard',
        },
        {
          icon: 'mdi-cellphone-text',
          title: 'platform',
          to: 'Platform',
        },
        {
          icon: 'mdi-library-books',
          title: 'material',
          to: 'course-material',
        },
        {
          icon: 'mdi-arrange-bring-forward',
          title: 'chapter',
          to: 'chapter',
        },
        {
          icon: 'mdi-notebook-multiple',
          title: 'topic',
          to: 'topic',
        },
        {
          icon: 'mdi-frequently-asked-questions',
          title: 'question',
          to: 'question',
        },
        {
          icon: 'mdi-book',
          title: 'library',
          to: 'library',
        },
      ],
      itemsMarketing: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: 'Dashboard',
        },
        {
          icon: 'mdi-newspaper-variant',
          title: 'news',
          to: 'binar-news',
        },
      ],
    }),

    computed: {
      ...mapState(['barColor', 'barImage']),
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          this.$store.commit('SET_DRAWER', val)
        },
      },
      computedItems () {
        return this.items.map(this.mapItem)
      },
      profile () {
        return {
          avatar: true,
          group: '',
          title: localStorage.getItem('myname'),
          children: [
            {
              to: 'profile',
              title: this.$t('my-profile'),
            },
          ],
        }
      },
    },

    watch: {
      '$vuetify.breakpoint.smAndDown' (val) {
        this.$emit('update:expandOnHover', !val)
      },
    },

    async mounted () {
      const role = await localStorage.getItem('myrole')
      if (role === 'admin') {
        this.items = this.itemsAdmin
      } else if (role === 'mentor') {
        this.items = this.itemsMentor
      } else if (role === 'academy') {
        this.items = this.itemsAcademy
      } else if (role === 'marketing') {
        this.items = this.itemsMarketing
      }
    },

    methods: {
      mapItem (item) {
        return {
          ...item,
          children: item.children ? item.children.map(this.mapItem) : undefined,
          title: this.$t(item.title),
        }
      },
      logout () {
        this.$store.dispatch('logout')
          .then(() => {
            this.$router.push('/')
          })
      },
    },
  }
</script>

<style lang="sass">
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    &.v-navigation-drawer--mini-variant
      .v-list-item
        justify-content: flex-start !important

      .v-list-group--sub-group
        display: block !important

    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>
