<template>
  <v-container
    id="login"
    class="fill-height"
    tag="section"
  >
    <v-row justify="center">
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        top
      >
        <base-material-alert
          color="error"
          dark
        >
          <span>Error Login</span> — {{ message }}
        </base-material-alert>
      </v-snackbar>
      <v-slide-y-transition appear>
        <base-material-card
          color="#723573"
          light
          max-width="100%"
          width="400"
          class="px-5 py-3"
        >
          <template v-slot:heading>
            <div class="text-center">
              <h1 class="display-2 font-weight-bold mb-2">
                Login
              </h1>
            </div>
          </template>

          <v-card-text class="text-center">
            <v-text-field
              v-model="email"
              color="secondary"
              label="Email..."
              prepend-icon="mdi-email"
            />
            <v-text-field
              v-model="password"
              type="password"
              class="mb-8"
              color="secondary"
              label="Password..."
              prepend-icon="mdi-lock-outline"
            />
            <pages-btn
              color="#723573"
              @click="login"
            >
              Get Started
            </pages-btn>
          </v-card-text>
        </base-material-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
  import fetch from '../../fetch'

  export default {
    name: 'PagesLogin',

    components: {
      PagesBtn: () => import('./components/Btn'),
    },

    data: () => ({
      email: '',
      password: '',
      snackbar: false,
      timeout: 5000,
      message: '',
    }),
    mounted () {
      this.snackbarState()
    },
    methods: {
      snackbarState () {
        this.snackbar = false
      },
      async login () {
        let email = this.email
        let password = this.password
        this.$store.dispatch('login', { email, password })
          .then(res => {
            const token = res.data.data.result.token
            const myname = res.data.data.result.nickname
            const myid = res.data.data.result.id
            const myrole = res.data.data.result.role.name
            localStorage.setItem('token', token)
            localStorage.setItem('myname', myname)
            localStorage.setItem('myid', myid)
            localStorage.setItem('myrole', myrole)
            fetch()
            this.$router.push('/Dashboard')
          })
          .catch(err => {
            this.message = err.response.data.message
            this.snackbar = true
            throw new Error(err)
          })
      },
    },
  }
</script>

<style lang="sass">
.v-snack__wrapper
  background-color: unset
  box-shadow: unset
</style>
