<template>
  <v-container
    id="data-tables"
    tag="section"
  >
    <base-material-card
      color="indigo"
      icon="mdi-vuetify"
      inline
      class="px-5 py-3"
    >
      <template v-slot:after-heading>
        <div class="display-2 font-weight-light">
          Data Table Course
        </div>
      </template>

      <br>
      <v-row>
        <v-col>
          <add />
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            class="ml-auto"
            label="Search"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-col>
      </v-row>

      <v-divider class="mt-3" />

      <v-data-table
        :headers="headers"
        :items="items"
        :search.sync="search"
        :sort-by="['question', 'topic', 'type']"
        :items-per-page="5"
        :sort-desc="[false, true]"
        multi-sort
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
            >
              <td>{{ item.question }}</td>
              <td>{{ item.topic && item.topic.title }}</td>
              <td>{{ item.question_type }}</td>
              <td>
                <v-img
                  v-if="item.image_url !== null"
                  class="image"
                  :src="item.image_url === null ? '' : item.image_url"
                />
              </td>
              <td>
                <detail :mydata="item" />
                <edit :mydata="item" />
                <deletedata :mydata="item" />
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import deletedata from './ModalDelete'
  import edit from './ModalEdit'
  import detail from './ModalDetail'
  import add from './ModalAdd'
  export default {
    name: 'DashboardDataTables',
    components: {
      deletedata,
      edit,
      detail,
      add,
    },

    data: () => ({
      headers: [
        {
          text: 'Question',
          value: 'question',
        },
        {
          text: 'Topic Title',
          value: 'topic',
        },
        {
          text: 'Type',
          value: 'type',
        },
        {
          text: 'Image',
          value: 'image',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      items: [],
      search: undefined,
    }),
    computed: {
      ...mapGetters({
        GET_LIST_QUESTION: 'questions/GET_LIST_QUESTION',
      }),
      ...mapState({
        statelistQuestion: state => state.questions.listQuestion,
      }),
    },
    watch: {
      GET_LIST_QUESTION (param) {
        this.items = []
        this.$nextTick(function () {
          this.items = param
        })
      },
    },
    async mounted () {
      await this.$store.dispatch('questions/ACTION_GET')
      this.items = this.statelistQuestion
    },
  }
</script>

<style>
.image {
  height: 100px;
  width: 200px;
}
</style>
