<template>
  <span>
    <v-btn
      color="success"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-pencil
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="650px"
    >
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        top
      >
        <base-material-alert
          color="error"
          dark
        >
          <span>Error Upload Image</span> — {{ message }}
        </base-material-alert>
      </v-snackbar>
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Edit Data Question</span>
          </v-card-title>
          <v-card-text>
            <h3>Question</h3>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <h4>Insert Question</h4>
                  <vue-editor v-model="form.question" />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.topic_id"
                    :items="topic"
                    item-text="title"
                    item-value="id"
                    label="Topic*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.question_type"
                    :items="type"
                    item-text="name"
                    item-value="name"
                    label="Type*"
                    required
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6">
                  <v-file-input
                    v-if="uploadloading === false"
                    prepend-icon="mdi-camera"
                    label="Image Question*"
                    @change="uploadImageQuestion"
                  />
                  <div v-if="uploadloading === true">
                    <i>Your image being upload, please wait.</i>
                    <v-progress-linear
                      indeterminate
                      color="grey"
                    />
                  </div>
                </v-col>
                <v-col cols="6">
                  <v-img
                    class="imageShow"
                    :src="form.questionImage === null ? '' : form.questionImage"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-text v-if="form.question_type === 'Quiz'">
            <div
              v-for="(item, index) in form.answers"
              :key="item.index"
            >
              <h3>Answer {{ index + 1 }}</h3>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="item.answer"
                      label="Answer*"
                      required
                    />
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="item.appreciate_message"
                      label="Appreciate Message*"
                      required
                    />
                  </v-col>
                  <v-col cols="12">
                    <h4>Insert Hint Answer</h4>
                    <vue-editor v-model="item.hint_message" />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-file-input
                      v-if="uploadloadinghint === false"
                      prepend-icon="mdi-camera"
                      label="Image Hint*"
                      @focus="getIndexHint(index)"
                      @change="uploadImageHint"
                    />
                    <div v-if="uploadloadinghint === true">
                      <i>Your image being upload, please wait.</i>
                      <v-progress-linear
                        indeterminate
                        color="grey"
                      />
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <v-img
                      class="imageShow"
                      :src="item.image_hint === null ? '' : item.image_hint"
                    />
                  </v-col>
                </v-row>
              </v-container>
            </div>
            <h3>Correct Answer</h3>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="varAnswer"
                    :items="trueAnswer"
                    item-text="name"
                    item-value="name"
                    label="Correct Answer*"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  import { mapGetters, mapState } from 'vuex'
  import fetch from '../../../fetch'
  import { VueEditor } from 'vue2-editor'
  export default {
    props: {
      mydata: {
        type: Object
      },
    },
    components: {
      VueEditor,
    },
    data: () => ({
      dialog: false,
      varAnswer: '',
      snackbar: false,
      uploadloading: false,
      uploadloadinghint: false,
      timeout: 5000,
      message: '',
      topic: [],
      type: [
        {
          id: 1,
          name: 'Quiz',
        },
        {
          id: 2,
          name: 'Reading',
        },
      ],
      trueAnswer: [
        {
          id: 1,
          name: 'Answer 1',
        },
        {
          id: 2,
          name: 'Answer 2',
        },
        {
          id: 3,
          name: 'Answer 3',
        },
      ],
      form: {
        id: null,
        question: '',
        question_type: '',
        topic_id: '',
        is_active: true,
        image: null,
        questionImage: null,
        answers: [
          {
            id: null,
            answer: '',
            is_correct: false,
            appreciate_message: '',
            hint_message: '',
            image_hint: null,
            hint_image: null,
            hint_id: null,
          },
          {
            id: null,
            answer: '',
            is_correct: false,
            appreciate_message: '',
            hint_message: '',
            image_hint: null,
            hint_image: null,
            hint_id: null,
          },
          {
            id: null,
            answer: '',
            is_correct: false,
            appreciate_message: '',
            hint_message: '',
            image_hint: null,
            hint_image: null,
            hint_id: null,
          },
        ],
      },
    }),
    computed: {
      ...mapGetters({
        GET_LIST_TOPIC: 'topics/GET_LIST_TOPIC',
      }),
      ...mapState({
        statelistTopic: state => state.topics.listTopic,
      }),
    },
    async mounted () {
      this.snackbarState()
      await this.$store.dispatch('topics/ACTION_GET')
      this.topic = this.statelistTopic
      if (this.mydata.question_type === "Quiz") {
        this.form = {
          id: this.mydata.id,
          question: this.mydata.question,
          question_type: this.mydata.question_type,
          topic_id: this.mydata.topic !== null ? this.mydata.topic : '',
          is_active: true,
          image: this.mydata.image,
          questionImage: this.mydata.image_url,
          answers: [
            {
              id: this.mydata.answers[0].id,
              answer: this.mydata.answers[0].answer,
              is_correct: this.mydata.answers[0].is_correct,
              appreciate_message: this.mydata.answers[0].hint.appreciate_message,
              hint_message: this.mydata.answers[0].hint.hint_message,
              image_hint: this.mydata.answers[0].hint.image_url,
              hint_image: this.mydata.answers[0].hint.photo,
              hint_id: this.mydata.answers[0].hint.id
            },
            {
              id: this.mydata.answers[1].id,
              answer: this.mydata.answers[1].answer,
              is_correct: this.mydata.answers[1].is_correct,
              appreciate_message: this.mydata.answers[1].hint.appreciate_message,
              hint_message: this.mydata.answers[1].hint.hint_message,
              image_hint: this.mydata.answers[1].hint.image_url,
              hint_image: this.mydata.answers[1].hint.photo,
              hint_id: this.mydata.answers[1].hint.id
            },
            {
              id: this.mydata.answers[2].id,
              answer: this.mydata.answers[2].answer,
              is_correct: this.mydata.answers[2].is_correct,
              appreciate_message: this.mydata.answers[2].hint.appreciate_message,
              hint_message: this.mydata.answers[2].hint.hint_message,
              image_hint: this.mydata.answers[2].hint.image_url,
              hint_image: this.mydata.answers[2].hint.photo,
              hint_id: this.mydata.answers[2].hint.id
            },
          ],
        }
        this.getAnswer()
      } else if (this.mydata.question_type === "Reading") {
        this.form = {
          id: this.mydata.id,
          question: this.mydata.question,
          question_type: this.mydata.question_type,
          topic_id: this.mydata.topic !== null ? this.mydata.topic : '',
          is_active: true,
          image: this.mydata.image,
          questionImage: this.mydata.image_url,
          answers: [],
        }
      }
    },
    methods: {
      snackbarState () {
        this.snackbar = false
      },
      clearForm () {
        this.form = {
          id: null,
          question: '',
          question_type: '',
          topic_id: '',
          is_active: true,
          image: null,
          questionImage: null,
          answers: [
            {
              id: null,
              answer: '',
              is_correct: false,
              appreciate_message: '',
              hint_message: '',
              image_hint: null,
              hint_image: null,
              hint_id: null,
            },
            {
              id: null,
              answer: '',
              is_correct: false,
              appreciate_message: '',
              hint_message: '',
              image_hint: null,
              hint_image: null,
              hint_id: null,
            },
            {
              id: null,
              answer: '',
              is_correct: false,
              appreciate_message: '',
              hint_message: '',
              image_hint: null,
              hint_image: null,
              hint_id: null,
            },
          ],
        }
      },
      getIndexHint (index) {
        this.indexHint = 0
        this.indexHint = index
      },
      getAnswer () {
        if (this.form.answers[0].is_correct === true) {
          this.varAnswer = { id: 1, name: 'Answer 1'}
        } else if (this.form.answers[1].is_correct === true) {
          this.varAnswer = { id: 2, name: 'Answer 2'}
        } else if (this.form.answers[2].is_correct === true) {
          this.varAnswer = { id: 3, name: 'Answer 3'}
        } else {
          this.varAnswer = ''
        }
      },
      setAnswer (answer) {
        if (answer === 'Answer 1') {
          this.form.answers[0].is_correct = true
          this.form.answers[1].is_correct = false
          this.form.answers[2].is_correct = false
        } else if (answer === 'Answer 2') {
          this.form.answers[0].is_correct = false
          this.form.answers[1].is_correct = true
          this.form.answers[2].is_correct = false
        } else if (answer === 'Answer 3') {
          this.form.answers[0].is_correct = false
          this.form.answers[1].is_correct = false
          this.form.answers[2].is_correct = true
        }
      },
      async uploadImageQuestion (e) {
        this.uploadloading = true
        if (this.form.image === null || this.form.image === undefined && e !== null) {
          const files = new FormData()
          const prefix = 'CARD'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.uploadloading = false
            this.form.image = res.data.data.result.uploaded_name
            this.form.questionImage = res.data.data.result.file_url
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.image !== null || this.form.image !== undefined && e !== null) {
          const filename = await this.form.image
          await fetch().delete('/upload', { params: { filename } })
          const files = new FormData()
          const prefix = 'CARD'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.uploadloading = false
            this.form.image = res.data.data.result.uploaded_name
            this.form.questionImage = res.data.data.result.file_url
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.image !== null && e === null) {
          const filename = await this.form.image
          await fetch().delete('/upload', { params: { filename } }).then(() => {
            this.uploadloading = false
            this.form.image = null
            this.form.questionImage = null
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else {
          this.uploadloading = false
          this.form.image = null
          this.form.questionImage = null
        }
      },
      async uploadImageHint (e) {
        this.uploadloadinghint = true
        if (this.form.answers[this.indexHint].hint_image === null || this.form.answers[this.indexHint].hint_image === undefined && e !== null) {
          const files = new FormData()
          const prefix = 'HINT'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.uploadloadinghint = false
            this.form.answers[this.indexHint].hint_image = res.data.data.result.uploaded_name
            this.form.answers[this.indexHint].image_hint = res.data.data.result.file_url
          }).catch(err => {
            this.uploadloadinghint = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.answers[this.indexHint].hint_image !== null || this.form.answers[this.indexHint].hint_image !== undefined && e !== null) {
          const filename = await this.form.answers[this.indexHint].hint_image
          await fetch().delete('/upload', { params: { filename } })
          const files = new FormData()
          const prefix = 'HINT'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.uploadloadinghint = false
            this.form.answers[this.indexHint].hint_image = res.data.data.result.uploaded_name
            this.form.answers[this.indexHint].image_hint = res.data.data.result.file_url
          }).catch(err => {
            this.uploadloadinghint = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.answers[this.indexHint].hint_image !== null && e === null) {
          const filename = await this.form.answers[this.indexHint].hint_image
          await fetch().delete('/upload', { params: { filename } }).then(() => {
            this.uploadloadinghint = false
            this.form.answers[this.indexHint].hint_image = null
            this.form.answers[this.indexHint].image_hint = null
          }).catch(err => {
            this.uploadloadinghint = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else {
          this.uploadloadinghint = false
          this.form.answers[this.indexHint].hint_image = null
          this.form.answers[this.indexHint].image_hint = null
        }
      },
      async onSave () {
        if (this.form.question_type === 'Quiz') {
          if (this.form.topic_id.id !== undefined) {
            this.form.topic_id = this.form.topic_id.id
          }
          if (this.varAnswer.id !== undefined) {
            this.varAnswer = this.varAnswer.id
          }
          await this.setAnswer(this.varAnswer)
          this.$store.dispatch('questions/ACTION_UPDATE', this.form)
          
        } else if (this.form.question_type === 'Reading') {
          if (this.form.topic_id.id !== undefined) {
            this.form.topic_id = this.form.topic_id.id
          }
          this.form.answers = []
          this.$store.dispatch('questions/ACTION_UPDATE', this.form)
        }
        this.dialog = false
        this.clearForm()
      },
    },
  }
</script>

<style>
.imageShow {
  max-height: 100px;
  border-radius: 8px;
  max-width: 200px;
  float: right;
}
.v-snack__wrapper {
  background-color: unset;
  box-shadow: unset;
}
</style>
