<template>
  <span>
    <v-btn
      color="info"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-eye
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Detail Data Question</span>
        </v-card-title>
        <v-card-text>
          <h3>Question</h3>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-textarea
                  v-model="form.question"
                  label="Question"
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :value="form.topic && form.topic.title"
                  label="Topic"
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.question_type"
                  label="Type"
                  readonly
                />
              </v-col>
            </v-row>
            <v-row v-if="form.image !== null">
              <v-col cols="6">
                <v-text-field
                  v-model="form.image"
                  prepend-icon="mdi-camera"
                  label="Image Question"
                  readonly
                />
              </v-col>
              <v-col cols="6">
                <v-img
                  class="imageShow"
                  :src="form.image_url === null ? '' : form.image_url"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-text v-if="form.question_type === 'Quiz'">
          <div
            v-for="(item, index) in form.answers"
            :key="item.index"
          >
            <h3>Answer {{ index + 1 }}</h3>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="item.answer"
                    label="Answer"
                    readonly
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="item.hint.appreciate_message"
                    label="Appreciate Message"
                    readonly
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="item.hint.hint_message"
                    label="Hint Answer"
                    readonly
                  />
                </v-col>
              </v-row>
              <v-row v-if="item.hint_image !== null">
                <v-col cols="6">
                  <v-text-field
                    v-model="item.hint.image_url"
                    prepend-icon="mdi-camera"
                    label="Image Hint"
                    readonly
                  />
                </v-col>
                <v-col cols="6">
                  <v-img
                    class="imageShow"
                    :src="item.hint === null ? '' : item.hint.image_url"
                  />
                </v-col>
              </v-row>
            </v-container>
          </div>
          <h3>Correct Answer</h3>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="varAnswer"
                  label="Correct Answer"
                  readonly
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
  /* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object,
      },
    },
    data: () => ({
      dialog: false,
      varAnswer: '',
      form: {
        topic: {},
        answers: []
      },
    }),
    async mounted () {
      this.form = await this.mydata
      // this.form.topic.title = await this.mydata.topic.title !== undefined ? this.mydata.topic.title : ''
      if (this.form.answers !== null) {
        this.getAnswer()
      }
    },
    methods: {
      getAnswer () {
        if (this.form.answers[0].is_correct === true) {
          this.varAnswer = 'Answer 1'
        } else if (this.form.answers[1].is_correct === true) {
          this.varAnswer = 'Answer 2'
        } else if (this.form.answers[2].is_correct === true) {
          this.varAnswer = 'Answer 3'
        } else {
          this.varAnswer = ''
        }
      },
    }
  }
</script>
