<template>
  <v-container
    id="data-tables"
    tag="section"
  >
    <base-material-card
      color="indigo"
      icon="mdi-vuetify"
      inline
      class="px-5 py-3"
    >
      <template v-slot:after-heading>
        <div class="display-2 font-weight-light">
          Chapter Data
        </div>
      </template>
      <br>
      <v-row>
        <v-col>
          <add />
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            class="ml-auto"
            label="Search"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-col>
      </v-row>

      <v-divider class="mt-3" />

      <v-data-table
        :headers="headers"
        :items="items"
        :search.sync="search"
        :sort-by="['name', 'course']"
        :items-per-page="15"
        :sort-desc="[false, true]"
        multi-sort
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
            >
              <td>{{ item.name }}</td>
              <td>{{ item.course && item.course.title }}</td>
              <td>{{ item.platform && item.platform.name }}</td>
              <td>
                <topic :mydata="item" />
                <detail :mydata="item" />
                <edit :mydata="item" />
                <deletedata :mydata="item" />
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import deletedata from './ModalDelete'
  import edit from './ModalEdit'
  import detail from './ModalDetail'
  import topic from './ModalListTopic'
  import add from './ModalAdd'
  export default {
    name: 'DashboardDataTables',
    components: {
      deletedata,
      edit,
      detail,
      add,
      topic,
    },

    data: () => ({
      headers: [
        {
          text: 'Chapter Title',
          value: 'name',
        },
        {
          text: 'Course Title',
          value: 'course',
        },
        {
          text: 'Platform',
          value: 'platform',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      items: [],
      search: undefined,
    }),
    computed: {
      ...mapGetters({
        GET_LIST_CHAPTER: 'chapters/GET_LIST_CHAPTER',
      }),
      ...mapState({
        statelistChapter: state => state.chapters.listChapter,
      }),
    },
    watch: {
      GET_LIST_CHAPTER (param) {
        this.items = []
        this.$nextTick(function () {
          this.items = param
        })
      },
    },
    async mounted () {
      await this.$store.dispatch('chapters/ACTION_GET')
      this.items = this.statelistChapter
    },
  }
</script>
