<template>
  <span>
    <v-btn
      color="success"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-pencil
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Edit Data Chapter</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.name"
                    :rules="nameRules"
                    label="Title*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.course_id"
                    :items="course"
                    :rules="nameCourse"
                    item-text="title"
                    item-value="title"
                    label="Course*"
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  import { mapGetters, mapState } from 'vuex'
  export default {
    props: {
      mydata: {
        type: Object
      },
    },
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Name is required',
      ],
      nameCourse: [
        v => !!v || 'Course is required',
      ],
      course: [],
      form: {
        name: '',
        course_id: '',
      },
    }),
    computed: {
      ...mapGetters({
        GET_LIST_COURSE: 'courses/GET_LIST_COURSE',
      }),
      ...mapState({
        statelistCourse: state => state.courses.listCourse,
      }),
    },
    async mounted () {
      await this.$store.dispatch('courses/ACTION_GET')
      this.course = this.statelistCourse
      this.form = {
        id: this.mydata.id,
        name: this.mydata.name,
        course_id: this.mydata.course.title,
      }
    },
    methods: {
      clearForm () {
        this.form = {
          name: '',
          course_id: '',
        }
      },
      getIdCourse(courseName) {
        this.course.map(item => {
          if (item.title === courseName) {
            this.form.course_id = item.id;
          }
        })
      },
      async onSave () {
        await this.getIdCourse(this.form.course_id);
        this.$store.dispatch('chapters/ACTION_UPDATE', this.form)
        this.dialog = false
        this.clearForm()
      },
    },
  }
</script>
