<template>
  <span>
    <v-btn
      color="info"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-eye
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Detail Data Chapter</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  label="Chapter Title"
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.course"
                  label="Course Title"
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.platform"
                  label="Platform"
                  required
                />
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
  /* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object,
      },
    },
    data: () => ({
      dialog: false,
      form: {
        name: '',
        course: '',
        platform: ''
      },
    }),
    mounted () {
      this.form = {
        name: this.mydata.name,
        course: this.mydata.course && this.mydata.course.title,
        platform: this.mydata.platform && this.mydata.platform.name
      }
    },
  }
</script>
