<template>
  <div>
    <v-btn
      outlined
      color="indigo"
      style="margin-top: 7px;"
      @click="dialog = true"
    >
      Add Chapter
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Add Data Chapter</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.name"
                    :rules="nameRules"
                    label="Title*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.platform_material_id"
                    :items="course"
                    :rules="nameCourse"
                    item-text="title"
                    item-value="id"
                    label="Course*"
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  export default {
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Name is required',
      ],
      nameCourse: [
        v => !!v || 'Course is required',
      ],
      course: [],
      form: {
        name: '',
        platform_material_id: '',
      },
    }),
    computed: {
      ...mapGetters({
        GET_LIST_COURSE: 'courses/GET_LIST_COURSE',
      }),
      ...mapState({
        statelistCourse: state => state.courses.listCourse,
      }),
    },
    async mounted () {
      await this.$store.dispatch('courses/ACTION_GET')
      this.course = this.statelistCourse
    },
    methods: {
      clearForm () {
        this.form = {
          name: '',
          platform_material_id: '',
        }
      },
      onSave () {
        this.$store.dispatch('chapters/ACTION_ADD', this.form)
        this.dialog = false
        this.clearForm()
      },
    },
  }
</script>
