<template>
  <span>
    <v-btn
      color="primary"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-table-headers-eye
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Detail Data Topic</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-data-table
              :headers="headers"
              :items="items"
              :items-per-page="5"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr
                    v-for="item in items"
                    :key="item.id"
                  >
                    <td>{{ item.title }}</td>
                    <td>
                      <deletedata
                        :mydata="item"
                        @change="getTopic()"
                      />
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="blue darken-1"
            text
            @click="actionClose"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  import fetch from '../../../fetch'
  import deletedata from '../topic/ModalDelete'
  import edit from '../topic/ModalEdit'
  export default {
    props: {
      mydata: {
        type: Object,
      },
    },
    components: {
      deletedata,
      edit,
    },
    data: () => ({
      dialog: false,
      name: '',
      headers: [
        {
          text: 'Topic',
          value: 'name',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      items: [],
    }),
    async mounted () {
      await this.getTopic()
    },
    methods: {
      async getTopic () {
        await fetch().get(`/topics?chapter_id=${this.mydata.id}`).then(res => {
          this.items = res.data.data.result
        })
      },
      actionClose () {
        this.dialog = false,
        this.getTopic()
      }
    }
  }
</script>
