<template>
  <v-container
    id="data-tables"
    tag="section"
  >
    <base-material-card
      color="indigo"
      icon="mdi-vuetify"
      inline
      class="px-5 py-3"
    >
      <template v-slot:after-heading>
        <div class="display-2 font-weight-light">
          Data Table Course
        </div>
      </template>

      <br>
      <v-row>
        <v-col>
          <add />
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            class="ml-auto"
            label="Search"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-col>
      </v-row>

      <v-divider class="mt-3" />

      <v-data-table
        :headers="headers"
        :items="items"
        :search.sync="search"
        :sort-by="['title', 'platform', 'level']"
        :items-per-page="5"
        :sort-desc="[false, true]"
        multi-sort
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
            >
              <td>{{ item.title }}</td>
              <td>{{ item.platform && item.platform.name }}</td>
              <td style="max-width: 230px;">
                {{ item.description }}
              </td>
              <td>{{ item.level && item.level.name }}</td>
              <td>
                <v-img
                  v-if="item.photo_url !== null"
                  class="image"
                  :src="item.photo_url === null ? '' : item.photo_url"
                />
              </td>
              <td>
                <detail :mydata="item" />
                <edit :mydata="item" />
                <deletedata :mydata="item" />
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import deletedata from './ModalDelete'
  import edit from './ModalEdit'
  import detail from './ModalDetail'
  import add from './ModalAdd'
  export default {
    name: 'DashboardDataTables',
    components: {
      deletedata,
      edit,
      detail,
      add,
    },

    data: () => ({
      headers: [
        {
          text: 'Name',
          value: 'title',
        },
        {
          text: 'Platform',
          value: 'platform',
        },
        {
          text: 'Description',
          value: 'description',
        },
        {
          text: 'Level',
          value: 'level',
        },
        {
          text: 'Image',
          value: 'photo_url',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      items: [],
      platform: [],
      level: [],
      levels: [],
      search: undefined,
    }),
    computed: {
      ...mapGetters({
        GET_LIST_COURSE: 'courses/GET_LIST_COURSE',
      }),
      ...mapState({
        statelistCourse: state => state.courses.listCourse,
      }),
    },
    watch: {
      GET_LIST_COURSE (param) {
        this.items = []
        this.$nextTick(function () {
          this.items = param
        })
      },
    },
    async mounted () {
      await this.$store.dispatch('courses/ACTION_GET')
      this.items = this.statelistCourse
      console.log(this.items)
    },
  }
</script>

<style>
.image {
  /* background-image: url('../../../assets/noimage.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%; */
  height: 100px;
  width: 200px;
}
</style>
