<template>
  <div>
    <v-btn
      outlined
      color="indigo"
      style="margin-top: 7px;"
      @click="dialog = true"
    >
      Add Course
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        top
      >
        <base-material-alert
          color="error"
          dark
        >
          <span>Error Upload Image</span> — {{ message }}
        </base-material-alert>
      </v-snackbar>
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Add Data Course</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.title"
                    :rules="nameRules"
                    label="Title*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.platform_id"
                    :items="platform"
                    :rules="namePlatform"
                    item-text="name"
                    item-value="id"
                    label="Platform*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.level_id"
                    :items="level"
                    item-text="name"
                    item-value="id"
                    label="Level"
                  />
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-if="uploadloading === false"
                    prepend-icon="mdi-camera"
                    label="Image Course"
                    @change="uploadImage"
                  />
                  <div v-if="uploadloading === true">
                    <i>Your picture being upload, please wait.</i>
                    <v-progress-linear
                      indeterminate
                      color="grey"
                    />
                  </div>
                </v-col>
                <v-col
                  v-if="image !== null"
                  cols="12"
                >
                  <v-img
                    class="image"
                    :src="image === null ? '' : image"
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="form.description"
                    :rules="descRules"
                    label="Description*"
                    required
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import fetch from '../../../fetch'
  export default {
    data: () => ({
      dialog: false,
      snackbar: false,
      uploadloading: false,
      timeout: 5000,
      message: '',
      nameRules: [
        v => !!v || 'Name is required',
      ],
      namePlatform: [
        v => !!v || 'Platform is required',
      ],
      nameLevel: [
        v => !!v || 'Level is required',
      ],
      descRules: [
        v => !!v || 'Description is required',
      ],
      platform: [],
      level: [],
      image: null,
      form: {
        title: '',
        platform_id: '',
        level_id: '',
        photo: null,
        description: '',
      },
    }),
    computed: {
      ...mapGetters({
        GET_LIST_PLATFORM: 'platform/GET_LIST_PLATFORM',
        GET_LIST_LEVEL: 'levels/GET_LIST_LEVEL',
      }),
      ...mapState({
        statelistPlatform: state => state.platform.listPlatform,
        statelistLevel: state => state.levels.listLevel,
      }),
    },
    async mounted () {
      this.snackbarState()
      await this.$store.dispatch('platform/ACTION_GET')
      await this.$store.dispatch('levels/ACTION_GET')
      this.platform = this.statelistPlatform
      this.level = this.statelistLevel
    },
    methods: {
      snackbarState () {
        this.snackbar = false
      },
      async uploadImage (e) {
        this.uploadloading = true
        if (this.form.photo !== null && e !== null) {
          const filename = await this.form.photo
          await fetch().delete('/upload', { params: { filename } })
          const files = new FormData()
          const prefix = 'CM'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.image = res.data.data.result.file_url
            this.form.photo = res.data.data.result.uploaded_name
            this.uploadloading = false
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.photo === null && e !== null) {
          const files = new FormData()
          const prefix = 'CM'
          files.append('file_upload', e)
          files.append('prefix', prefix)
          await fetch().put('/upload', files, prefix).then(res => {
            this.image = res.data.data.result.file_url
            this.form.photo = res.data.data.result.uploaded_name
            this.uploadloading = false
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else if (this.form.photo !== null && e === null) {
          const filename = await this.form.photo
          await fetch().delete('/upload', { params: { filename } }).then(() => {
            this.uploadloading = false
            this.image = null
            this.form.photo = null
          }).catch(err => {
            this.uploadloading = false
            this.message = err.response.data.message
            this.snackbar = true
          })
        } else {
          this.uploadloading = false
          this.image = null
          this.form.photo = null
        }
      },
      clearForm () {
        this.image = null
        this.form = {
          title: '',
          platform_id: '',
          level_id: '',
          photo: null,
          description: '',
        }
      },
      onSave () {
        this.$store.dispatch('courses/ACTION_ADD', this.form)
        this.dialog = false
        this.clearForm()
      },
    },
  }
</script>

<style>
.image {
  max-height: 100px;
  border-radius: 8px;
  max-width: 200px;
}
.imageHint {
  max-height: 100px;
  border-radius: 8px;
  max-width: 200px;
  float: right;
}
.v-snack__wrapper {
  background-color: unset;
  box-shadow: unset;
}
</style>
