<template>
  <span>
    <v-btn
      color="info"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-eye
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Detail Data Course</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.title"
                  label="Title"
                  required
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.platform"
                  label="Platform"
                  required
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.level"
                  label="Level*"
                  required
                  readonly
                />
              </v-col>
              <v-col cols="12">
                <v-img
                  v-if="form.photo_url !== null"
                  class="image"
                  :src="form.photo_url === null ? '' : form.photo_url"
                />
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="form.description"
                  label="Description"
                  required
                  readonly
                />
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
  /* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object,
      },
    },
    data: () => ({
      dialog: false,
      form: {
        title: '',
        platform: {},
        level: {},
        photo_url: null,
        description: '',
      },
    }),
    mounted () {
      this.form = {
        title: this.mydata.title,
        platform: this.mydata.platform && this.mydata.platform.name,
        level: this.mydata.level && this.mydata.level.name,
        photo_url: null,
        description: this.mydata.description,
      }
    }
  }
</script>
