<template>
  <v-container
    id="data-tables"
    tag="section"
  >
    <base-material-card
      color="indigo"
      icon="mdi-vuetify"
      inline
      class="px-5 py-3"
    >
      <template v-slot:after-heading>
        <div class="display-2 font-weight-light">
          User Data
        </div>
      </template>
      <br>
      <v-row>
        <v-col>
          <add />
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            class="ml-auto"
            label="Search"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-col>
      </v-row>

      <v-divider class="mt-3" />

      <v-data-table
        :headers="headers"
        :items="items"
        :search.sync="search"
        :sort-by="['name', 'email', 'role']"
        :sort-desc="[false, true]"
        multi-sort
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
            >
              <td>{{ item.nickname }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.role && item.role.name }}</td>
              <td>{{ item.level && item.level.name }}</td>
              <td>
                <edit :mydata="item" />
                <deletedata :mydata="item" />
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import deletedata from './ModalDelete'
  import edit from './ModalEdit'
  import add from './ModalAdd'
  export default {
    name: 'DashboardDataTables',
    components: {
      deletedata,
      edit,
      add,
    },

    data: () => ({
      headers: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Email',
          value: 'email',
        },
        {
          text: 'Role',
          value: 'role',
        },
        {
          text: 'Level',
          value: 'date',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      search: undefined,
      items: [],
    }),
    computed: {
      ...mapGetters({
        GET_LIST_USERS: 'users/GET_LIST_USERS',
      }),
      ...mapState({
        statelistUsers: state => state.users.listUsers,
      }),
    },
    watch: {
      GET_LIST_USERS (param) {
        this.items = []
        this.$nextTick(function () {
          this.items = param
        })
      },
    },
    async mounted () {
      await this.$store.dispatch('users/GET_TODO')
      this.items = this.statelistUsers
    },
  }
</script>
