<template>
  <div>
    <v-btn
      outlined
      color="indigo"
      style="margin-top: 7px;"
      @click="dialog = true"
    >
      Add User
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Add Data User</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.nickname"
                    :rules="nameRules"
                    label="Name*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.email"
                    :rules="emailRules"
                    label="Email*"
                    type="email"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.password"
                    :rules="passwordRules"
                    type="password"
                    label="Password*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.role_id"
                    :items="role"
                    :rules="roleRules"
                    item-text="name"
                    item-value="id"
                    label="Role*"
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 6) || 'The min-length field must be at least 6 characters',
      ],
      nameRules: [
        v => !!v || 'Name is required',
      ],
      emailRules: [
        v => !!v || 'Email is required',
      ],
      roleRules: [
        v => !!v || 'Role is required',
      ],
      role: [
        {
          id: 1,
          name: 'Student',
        },
        {
          id: 2,
          name: 'Admin',
        },
        {
          id: 3,
          name: 'Marketing',
        },
        {
          id: 4,
          name: 'Academy',
        },
      ],
      form: {
        nickname: '',
        email: '',
        password: '',
        role_id: null,
        level_id: 5,
      },
    }),
    methods: {
      onSave () {
        this.$store.dispatch('users/ACTION_ADD', this.form)
        this.dialog = false
      },
    },
  }
</script>
