<template>
  <span>
    <v-btn
      color="success"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-pencil
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Edit Data User</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.nickname"
                    :rules="nameRules"
                    label="Name*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.email"
                    :rules="emailRules"
                    label="Email*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.role_id"
                    :items="role"
                    :rules="roleRules"
                    item-text="name"
                    item-value="id"
                    label="Role*"
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object
      },
    },
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Name is required',
      ],
      emailRules: [
        v => !!v || 'Email is required',
      ],
      roleRules: [
        v => !!v || 'Role is required',
      ],
      role: [
        {
          id: 1,
          name: 'Student',
        },
        {
          id: 2,
          name: 'Admin',
        },
        {
          id: 3,
          name: 'Marketing',
        },
        {
          id: 4,
          name: 'Academy',
        },
      ],
      form: {
        id: '',
        nickname: '',
        email: '',
        role_id: '',
      }
    }),
    mounted () {
      this.form = {
        id: this.mydata.id,
        nickname: this.mydata.nickname,
        email: this.mydata.email,
        role_id: this.mydata.role === null ? '' : this.mydata.role.id
      }
    },
    methods: {
      onSave () {
        this.$store.dispatch('users/ACTION_UPDATE', this.form)
        this.dialog = false
      },
    },
  }
</script>
