<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <base-material-card icon="mdi-account-outline">
          <template v-slot:after-heading>
            <div class="font-weight-light card-title mt-2">
              Profile
            </div>
          </template>

          <v-form>
            <v-container class="py-0">
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="myProfile.nickname"
                    class="purple-input"
                    label="Nickname"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="myProfile.email"
                    label="Email Address"
                    class="purple-input"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="myProfile.role.name"
                    label="Role"
                    class="purple-input"
                    readonly
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="myProfile.level.name"
                    label="Level"
                    class="purple-input"
                    readonly
                  />
                </v-col>

                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    @click="updateProfile"
                  >
                    Update Profile
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <base-material-card icon="mdi-key-outline">
          <template v-slot:after-heading>
            <div class="font-weight-light card-title mt-2">
              Change Password
            </div>
          </template>

          <v-form>
            <v-container class="py-0">
              <v-row>
                <v-col
                  cols="12"
                  md="12"
                >
                  <v-text-field
                    v-model="changePassword.old_password"
                    type="password"
                    class="purple-input"
                    label="Old Password"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="12"
                >
                  <v-text-field
                    v-model="changePassword.new_password"
                    type="password"
                    label="New Password"
                    class="purple-input"
                  />
                </v-col>

                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    @click="updatePassword"
                  >
                    Update Password
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import fetch from '../../../fetch'
  export default {
    data: () => ({
      id: null,
      changePassword: {
        old_password: '',
        new_password: '',
      },
      myProfile: {
        nickname: '',
        email: '',
        role: {},
        level: {},
      },
    }),
    async mounted () {
      this.id = await localStorage.getItem('myid')
      fetch().get(`/users/${this.id}`).then(res => {
        this.myProfile = res.data.data.result
      })
    },
    methods: {
      logout () {
        this.$store.dispatch('logout')
          .then(res => {
            this.$router.push('/')
          })
      },
      updateProfile () {
        const param = {
          role_id: this.myProfile.role.id,
          nickname: this.myProfile.nickname,
          email: this.myProfile.email,
        }
        fetch().put(`/users/${this.id}`, param).then(res => {
          const myname = res.data.data.result.nickname
          localStorage.setItem('myname', myname)
          this.myProfile = res.data.data.result
          this.logout()
        })
      },
      updatePassword () {
        const param = {
          email: this.myProfile.email,
          nickname: this.myProfile.nickname,
          role_id: this.myProfile.role.id,
          old_password: this.changePassword.old_password,
          new_password: this.changePassword.new_password,
        }
        fetch().put(`/users/${this.id}`, param).then(() => {
          this.logout()
        })
      },
    },
  }
</script>
