<template>
  <v-container
    id="data-tables"
    tag="section"
  >
    <base-material-card
      color="indigo"
      icon="mdi-vuetify"
      inline
      class="px-5 py-3"
    >
      <template v-slot:after-heading>
        <div class="display-2 font-weight-light">
          Topic Data
        </div>
      </template>
      <br>
      <v-row>
        <v-col>
          <add />
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            class="ml-auto"
            label="Search"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-col>
      </v-row>

      <v-divider class="mt-3" />

      <v-data-table
        :headers="headers"
        :items="items"
        :search.sync="search"
        :sort-by="['name', 'office']"
        :sort-desc="[false, true]"
        multi-sort
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
            >
              <td>{{ item.title }}</td>
              <td>{{ item.chapter && item.chapter.name }}</td>
              <td>
                <detail :mydata="item" />
                <edit :mydata="item" />
                <deletedata :mydata="item" />
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import deletedata from './ModalDelete'
  import edit from './ModalEdit'
  import detail from './ModalDetail'
  import add from './ModalAdd'
  export default {
    name: 'DashboardDataTables',
    components: {
      deletedata,
      edit,
      detail,
      add,
    },

    data: () => ({
      headers: [
        {
          text: 'Topic Title',
          value: 'title',
        },
        {
          text: 'Chapter Title',
          value: 'name',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
        },
      ],
      items: [],
      search: undefined,
    }),
    computed: {
      ...mapGetters({
        GET_LIST_TOPIC: 'topics/GET_LIST_TOPIC',
      }),
      ...mapState({
        statelistTopic: state => state.topics.listTopic,
      }),
    },
    watch: {
      GET_LIST_TOPIC (param) {
        this.items = []
        this.$nextTick(function () {
          this.items = param
        })
      },
    },
    async mounted () {
      await this.$store.dispatch('topics/ACTION_GET')
      this.items = this.statelistTopic
    },
  }
</script>
