<template>
  <span>
    <v-btn
      color="error"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-close
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      max-width="300"
    >
      <v-card>
        <v-card-title>
          Are you sure want to delete {{ name }}?

          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="dialog = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>

        <v-card-text class="pb-6 pt-12 text-center">
          <v-btn
            class="mr-3"
            text
            @click="dialog = false"
          >
            Nevermind
          </v-btn>

          <v-btn
            color="success"
            text
            @click="onDelete"
          >
            Yes
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  export default {
    props: {
      mydata: {
        type: Object,
      },
    },
    data: () => ({
      dialog: false,
      name: '',
    }),
    mounted () {
      this.name = this.mydata.title
    },
    methods: {
      onDelete () {
        this.$store.dispatch('topics/ACTION_DELETE', this.mydata.id)
        this.dialog = false
      },
    },
  }
</script>
