<template>
  <span>
    <v-btn
      color="success"
      class="ml-1"
      fab
      icon
      x-small
      @click="dialog = true"
    >
      <v-icon small>
        mdi-pencil
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <form
          @submit.prevent="onSave"
        >
          <v-card-title>
            <span class="headline">Edit Data Topic</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.title"
                    :rules="nameRules"
                    label="Title*"
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="form.chapter_id"
                    :items="chapter"
                    :rules="nameChapter"
                    item-text="name"
                    item-value="name"
                    label="Chapter*"
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              color="info"
              text
            >
              Save
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
/* eslint-disable */
  import { mapGetters, mapState } from 'vuex'
  export default {
    props: {
      mydata: {
        type: Object
      },
    },
    data: () => ({
      dialog: false,
      nameRules: [
        v => !!v || 'Title is required',
      ],
      nameChapter: [
        v => !!v || 'Chapter is required',
      ],
      chapter: [],
      form: {
        title: '',
        is_active: true,
        is_complete: true,
        chapter_id: '',
      },
    }),
    computed: {
      ...mapGetters({
        GET_LIST_CHAPTER: 'chapters/GET_LIST_CHAPTER',
      }),
      ...mapState({
        statelistChapter: state => state.chapters.listChapter,
      }),
    },
    async mounted () {
      await this.$store.dispatch('chapters/ACTION_GET')
      this.chapter = this.statelistChapter
      this.form = {
          id: this.mydata.id,
          title: this.mydata.title,
          is_active: true,
          is_complete: true,
          chapter_id: this.mydata.chapter.name,
        }
    },
    methods: {
      clearForm () {
        this.form = {
          title: '',
          is_active: true,
          is_complete: true,
          chapter_id: '',
        }
      },
      getIdChapter(chapterName) {
        this.chapter.map(item => {
          if (item.name === chapterName) {
            this.form.chapter_id = item.id;
          }
        })
      },
      async onSave () {
        await this.getIdChapter(this.form.chapter_id);
        this.$store.dispatch('topics/ACTION_UPDATE', this.form)
        this.dialog = false
        this.clearForm()
      },
    },
  }
</script>
